.header {
  margin: 0;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
}

.header__nav-container {
  border-bottom: 2px solid rgba(86, 134, 255, 0.6);
}

.header__text-container {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
}

.header__subtitle {
  align-self: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 20px;
  text-indent: 20px;
  max-width: 1000px;
}

.header__list {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  padding: 0 20px;
  text-indent: 20px;
  max-width: 1000px;
  align-self: center;
  padding-bottom: 10px;
}

.header__link-container {
  align-self: center;
}

.header__link {
  align-self: center;
  max-width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: rgb(47, 113, 229);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.header__link:hover {
  background-color: rgb(52, 126, 255);
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 25px;
    line-height: 45px;
  }

  .header__subtitle {
    font-size: 15px;
    line-height: 20px;
  }

  .header__list {
    font-size: 15px;
    line-height: 20px;
  }

  .header__link {
    font-size: 15px;
    line-height: 20px;
  }
}
