.search-form-result {
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.search-form-result:hover {
  background-color: rgba(47, 113, 229, 0.1);
}
