.search-form-result {
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 50%;
}

.search-form-result:hover {
  background-color: rgba(47, 113, 229, 0.1);
}

@media screen and (max-width: 768px) {
  .search-form-result {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 545px) {
  .search-form-result {
    font-size: 10px;
    padding: 2px 5px;
  }
}
